@use 'sass:math';
$containerHeaderWidth:1060px;
$containerWidth:1262px;
$containerPadding:40;
$containerSidePadding:math.div($containerPadding, 2);
$breakpoint1450:1449.98 + px;
$breakpoint992:991.98 + px;
$breakpoint768:767.98 + px;
$breakpoint480:479.98 + px;



// colors
$black:#102746;
$backgroundBlack:#0E1D28;
$white:#fff;
$backgroundBlue:#1B7DFF;
$blue:#006DFE;

// burger menu

$burgerBreakpoint: $breakpoint768;
$burgerColor: white;
$burgerActiveColor: '';



// fonts

$fontMain: 'Lato';
$fontSecondary: '';